<h1>Rule Engine Service</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered table-striped table-hover">
            <thead> <tr> <th>ID</th> <th>Name</th> <th>Age</th> <th>Sex</th> <th>Weight</th> <th>Height</th> <th>Cholesterol Level</th> <th>Temperature</th> <th>Has Diabetes</th> <th>Has Cough</th> <th>Has Blisters</th></tr> </thead>
            <tbody data-bind="foreach: people">
                <tr>
                    <th scope="row"><span data-bind="text: Id"></span></th>
                    <td><span data-bind="text: Name"></span></td>
                    <td><span data-bind="text: Age"></span></td>
                    <td><span data-bind="text: Sex"></span></td>
                    <td><span data-bind="text: Weight"></span></td>
                    <td><span data-bind="text: Height"></span></td>
                    <td><span data-bind="text: CholesterolLevel"></span></td>
                    <td><span data-bind="text: Temperature"></span></td>
                    <td><span data-bind="text: HasDiabetes"></span></td>
                    <td><span data-bind="text: HasCough"></span></td>
                    <td><span data-bind="text: HasBlisters"></span></td>
                    <td><a href="#" class="btn btn-primary" data-bind="click: $parent.getPersonDetail">Details</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
